/* Bold */
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('../fonts/Pretendard-Bold.otf') format('opentype');
  font-weight: normal; /* 이름을 따로 줬으므로 여기선 normal로 둬도 됩니다 */
  font-style: normal;
}

/* SemiBold */
@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('../fonts/Pretendard-SemiBold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('../fonts/Pretendard-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Light */
@font-face {
  font-family: 'Pretendard-Light';
  src: url('../fonts/Pretendard-Light.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* ExtraBold */
@font-face {
  font-family: 'Pretendard-ExtraBold';
  src: url('../fonts/Pretendard-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}
